/* Nav.css */

.custom-navbar {
  background-color: #343a40;
  /* Dark background color */
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #adb5bd;
  /* Lighter color on hover */
}

.nav-link {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #adb5bd;
  /* Lighter color on hover */
  text-decoration: underline;
  /* Underline on hover */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="currentColor" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
}

@media (max-width: 767.98px) {
  .navbar-nav {
    text-align: center;
  }
}


.Cart{
  background-color: #adb5bd;
  border:1px solid #ffffff ;
  height: '35px';
    width: '53px';
    margin-top:'10px';
}


.navbar-expand-lg{
      display: flex !important;
      flex-basis: auto;
      margin-bottom: 98px;
      /* height: 37px; */
  }

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  height: 70px;
}
img{
 
    border-radius: 10px;
    margin-bottom: 22px;
    /* margin-top: 10px; */
}
/* Nav.css or your CSS file */
.navbar .form-control {
  border-radius: 20px;
}

.navbar .btn-outline-light {
  border-radius: 20px;
}

.navbar .form-control::placeholder {
  color: #aaa;
}

.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar .navbar-nav .nav-link i {
  margin-right: 0.5rem;
}
